:root {
    --light100: #ddd;

    --blue400: #3283dc;
    --blue600: #282c34;

    --dark100: #777;
    --dark400: #333;
    --dark500: #1a1a1a;
}

@font-face {
    font-family: 'Pokemon';
    src: url('./assets/fonts/pokemon-ds-font.ttf');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;

    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(var(--dark100) 5%, var(--dark500) 5%);
    background-position: 0 0;
    background-size: 40px 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Pokemon';
}

#app {
    position: relative;
}
